name: Compile LaTeX Files

on:
  push:
    paths:
      - 'input/**/start.txt'

  pull_request:
    paths:
      - 'input/**/start.txt'

  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install LaTeX
        run: sudo apt-get update && sudo apt-get install -y texlive-latex-base texlive-latex-extra texlive-fonts-recommended texlive-xetex

      - name: Create Output Directory
        run: mkdir -p output

      - name: Compile LaTeX Files
        run: |
          for file in input/*.txt; do
            pdflatex -interaction=nonstopmode -output-directory=output "$file"
          done        

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Compiled LaTeX files
          push_options: '--force'
          file_pattern: '.'

      - name: Upload PDFs
        uses: actions/upload-artifact@v4
        with:
          name: compiled-pdfs
          path: output/*.pdf
